name: Check For Changes to Monitored Files

on:
  push:
    branches: 
       - main
       
jobs:
  check_changes_and_alert:
    runs-on: ubuntu-latest

    steps: 
    - name: Checkout code
      uses: actions/checkout@v3 
      with:
       fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}

    - name: Check and Alert if watched files changed
      id: check-and-alert
      run: |
         changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }})

         for file in $changed_files; do
            if [[ $file == *.html || $file == *.jsx ]]; then
                 git diff ${{ github.event.before }} ${{ github.event.after }} -- "$file" | grep -E 'name=' | while read -r line; do
             
                echo "Class attribute changed in $file"
                old_value=$(echo "$line" | sed -n 's/.*class="\([^"]*\)".*/\1/p')
                 new_value=$(echo "$line" | sed -n 's/.*name="\([^"]*\)".*/\1/p')

                # Display the new class value
                echo "Old class value: $old_value"
                if [ $old_value!==$new_value ]; then
                  echo "File: $file"
                  echo "New class value: $new_value"
                fi
               
               done
              
            fi
          done
